numpy==1.20.4
anndata==0.8.0
pandas==2.0.3
scipy==1.10.1
matplotlib==3.7.5
louvain==0.8.2
scanpy==1.9.8
umap-learn==0.5.6
seaborn==0.13.2
networkx==3.1
hnswlib==0.8.0
annoy==4.3.0
tqdm==4.66.2
torch==2.0.1+cu118
torch-geometric==2.5.3
torch-cluster==1.6.3
torch-scatter==2.0.9
torch-sparse==0.6.18
torch-spline-conv==1.2.2